body{
    overflow: hidden;
}

.nav-area{
    float: right;
    margin-top: 20px;
    
}

#nikelogo{
    margin: 20px;
    margin-left: 60px;
}

.nav-bar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
}

.med-icon{
    float: right;
    margin-right: 90px;
    margin-left: 55px;
    display: flex;
}

.main-area{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-column-gap: 2em; 
}

#airmax{
    position: absolute;
    margin-top: -175px;
    margin-left: -100px;        
}

#geometry{
    position: absolute;
    margin: 8%;
}

.desc{
    float: right;
    margin-top: 170px;
}

.desc-head{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 50px;
    color: #313649;
    line-height: 55px;
    font-stretch: ultra-expanded;
}

.description{
    max-width: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    font-weight: 345;
}

.button{
    background-color: #313649;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 11px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-stretch: expanded;
}
